<mat-toolbar class="toolbar">
  <div class="contact-info">
    <mat-icon> phone</mat-icon>
    <span class="info">+355694799511</span>
    <mat-icon> email</mat-icon>
    <span class="info">kostandina.qirjazi1@gmail.com</span>
  </div>
 <div class="button-container"> 
  <mat-icon>airport_shuttle</mat-icon>
  <button class="toolbar-button" (click)="gotoDelivery()">Delivery Information</button>
  <mat-icon>euro_symbol</mat-icon>
  <button class="toolbar-button">Currency </button>
  <mat-icon>account_box</mat-icon>
  <button class="toolbar-button">My Account</button>
 </div>
</mat-toolbar>
<div class="header" >
  <div class="container">
     <div class="search"> 
      <mat-form-field appearance="standard" >
        <mat-icon class="search" >search</mat-icon>
        <input matInput placeholder="search">
      </mat-form-field>
      
     </div>
    <img src="https://www.roseroseshop.com/image//logo/roseshop_logo_minisize.png">
    <button class="favourites"><mat-icon>favorite_border</mat-icon></button>
    <button class="shop-bag"><mat-icon>shopping_cart</mat-icon></button>
  </div>
</div>
<div class="Menu"> 
<mat-toolbar class="nav-list">
  <mat-nav-list class="button-list">
    <mat-list-item (click)="gotoHomePage()"> 
      <div class="align"> 
        HOME
       </div>
    </mat-list-item>
    <mat-list-item  (click)="gotoSkinCare()"> 
      <div class="align"> 
        <button mat-button [matMenuTriggerFor]="menu">SKIN CARE</button>
        <mat-icon>expand_more</mat-icon>
        <mat-menu  mat-menu #menu="matMenu">
        <button mat-menu-item>Skincare</button>
        <button mat-menu-item>MAKEUP</button>
      </mat-menu>
       </div>
    </mat-list-item>
    <mat-list-item > 
      <div class="align"> 
        <button mat-button [matMenuTriggerFor]="menu">MAKE UP</button>
        <mat-icon>expand_more</mat-icon>
        <mat-menu  mat-menu #menu="matMenu">
        <button mat-menu-item>Skincare</button>
        <button mat-menu-item>MAKEUP</button>
      </mat-menu>
       </div>
    </mat-list-item>
    <mat-list-item > 
     HAIR & BODY
     <mat-icon>expand_more</mat-icon>
    </mat-list-item>
    <mat-list-item > 
     TOOL
     <mat-icon>expand_more</mat-icon>
    </mat-list-item>
    <mat-list-item > 
      COSMETIC SAMPLE
      <mat-icon>expand_more</mat-icon>
     </mat-list-item>
     <mat-list-item > 
      BRAND
      <mat-icon>expand_more</mat-icon>
     </mat-list-item>
  </mat-nav-list>
</mat-toolbar>
</div>
<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="/assets/images /Screenshot from 2022-10-22 23-08-49.png"
      class="carausel-image"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="/assets/images /Screenshot from 2022-10-22 23-09-09.png"
      class="carausel-image"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="/assets/images /Screenshot from 2022-10-22 23-09-36.png"
      class="carausel-image"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="/assets/images /Screenshot from 2022-10-23 00-08-38.png"
      class="carausel-image"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>
<h1 class="deals">
  HOT DEAL
</h1>
