  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="/assets/images /Screenshot from 2022-10-22 23-08-49.png"
        class="carausel-image"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/images /Screenshot from 2022-10-22 23-09-09.png"
        class="carausel-image"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/images /Screenshot from 2022-10-22 23-09-36.png"
        class="carausel-image"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="/assets/images /Screenshot from 2022-10-23 00-08-38.png"
        class="carausel-image"
        alt="..."
      />
    </mdb-carousel-item>
  </mdb-carousel>
  <h1 class="deals">
    HOT DEAL
  </h1>
  <app-product-list></app-product-list>